@import 'tailwindcss';
@import 'tw-animate-css';
@import 'preline/variants.css';
@source "../../node_modules/preline/dist/*.js";

:root {
  --background: #f8f9fa;
  --foreground: #1e3a52;
  --primary: #4c4d4c;
  --muted-foreground: #6b7c6e;
  --accent: #d76c37;
  --font-geist: 'Geist Variable';
  --font-inter: 'Inter Variable';

  --title-web: 2.25rem; /* ~36px */
  --title-tablet: 1.8rem; /* ~29px */
  --title-mobile: 1.5rem; /* ~24px */

  /* Descripciones */
  --desc-web: 1.35rem; /* ~22px */
  --desc-tablet: 1.2rem; /* ~19px */
  --desc-mobile: 1rem; /* ~16px */

  /* Gaps */
  --gap-web: 7.2rem; /* ~115px */
  --gap-tablet: 4.8rem; /* ~77px */
  --gap-mobile: 3.6rem; /* ~58px */
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-secondary: var(--foreground);
  --color-muted: var(--muted-foreground);

  /* Font */
  --font-geist: var(--font-geist), sans-serif;
  --font-inter: var(--font-inter), sans-serif;

  /* Tipografía Titles */
  --text-title-web: var(--title-web);
  --text-title-tablet: var(--title-tablet);
  --text-title-mobile: var(--title-mobile);

  /* Tipografía Descriptions */
  --text-desc-web: var(--desc-web);
  --text-desc-tablet: var(--desc-tablet);
  --text-desc-mobile: var(--desc-mobile);

  /* Gaps */
  --gap-web: var(--gap-web);
  --gap-tablet: var(--gap-tablet);
  --gap-mobile: var(--gap-mobile);
}
@layer base {
  * {
  }
  body {
    @apply bg-background font-geist;
  }

  @keyframes revealX {
    from {
      opacity: 0;
      translate: 150px 0;
      filter: blur(10px);
    }
    to {
      opacity: 1;
      translate: 0 0px;
      filter: blur(0px);
    }
  }

  @keyframes revealY {
    from {
      opacity: 0;
      translate: 0 900px;
      filter: blur(10px);
    }
    to {
      opacity: 1;
      translate: 0 0px;
      filter: blur(0px);
    }
  }

  @keyframes zoom {
    from {
      opacity: 0;
      width: 90%;
      /* filter: blur(10px); */
    }
    to {
      opacity: 1;
      width: 100%;
      /* filter: blur(0px); */
    }
  }
}
